@use 'var';

@function setBorder($arg...) {
    @return $arg;
}

@mixin padding($top, $right, $bot, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bot;
    padding-left: $left;
}

@mixin transform($props) {
    transform: $props;
    -moz-transform: $props;
    -webkit-transform: $props;
    -ms-transform: $props;
}


@function setFontResp($fontSize) {
    $fontSizeRem: $fontSize / 16px;
    @return round($fontSizeRem * 1rem);
}

@mixin setFontSize($size) {
    font-size: setFontResp($size);
}

body {
    @if var.$type == dark {
        background: var.$primary-color;        
    } @else {
        background: var.$primary-color-light;
    }
    color: var.$second-color;
}
div {
    .h1 { 
        @include padding(2rem, 0, 2rem, 0);
        color: chartreuse;
        border: setBorder(round(1.8px) solid darken(#0000ff, 30%));
        .small {
            @include transform(rotate(90deg));
            color: red;
            @include setFontSize(25px);
        }
    }
    &:before {
        $text: 'before';
        content: "My Before pseudo element " + $text;
    }
}
